<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Screen-Capture-API</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p><button id="start" (click)="start()">Start Capture</button>&nbsp;<button id="stop" (click)="stop()">Stop
          Capture</button></p>
      <video #video id="video" width="800" height="600" autoplay></video>
      <div>
        <button id="startButton" (click)="startCo()">Start</button>
        <button id="callButton" (click)="call()">Call</button>
        <button id="hangupButton" (click)="hangUp()">Hang Up</button>
      </div>
      <video id="localVideo" #localVideo autoplay playsinline></video>
      <video id="remoteVideo" #remoteVideo autoplay playsinline></video>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>